body {
  margin: 0;
  padding: 0;
}
.home-section-wrapper {
  background-image: url(../img/neptun-in-gdansk-poland-82-big_bw@2x.png);
  background-color: #2f545a;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: lighten;
  background-position: center -80px;
  padding-bottom: 300px;
}
@media (max-width: 768px) {
  .home-section-wrapper {
    padding-bottom: 60px;
  }
}
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: #2f545a;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 920px) {
  h1 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 22px;
    line-height: 36px;
    margin: 0 auto;
    text-align: center;
    padding: 0px 30px 0px 30px;
  }
}
h4 {
  font-size: 14px;
  padding: 0px 0px 19px 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(47, 84, 90, 0.6);
}
@media (max-width: 920px) {
  h4 {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  h4 {
    letter-spacing: 1px;
    font-size: 11px;
    margin: 0 auto;
    padding: 20px;
  }
}
.about-section-wrapper {
  padding: 100px 0px 100px 100px;
}
@media (max-width: 920px) {
  .about-section-wrapper {
    padding: 50px;
  }
}
@media (max-width: 768px) {
  .about-section-wrapper {
    padding: 25px;
  }
}
.about-section-wrapper p {
  font-size: 14px;
  padding: 60px 0px 80px 50px;
  line-height: 32px;
}
@media (max-width: 920px) {
  .about-section-wrapper p {
    padding: 30px 0px 40px 25px;
  }
}
@media (max-width: 768px) {
  .about-section-wrapper p {
    padding: 30px;
    line-height: 28px;
    font-size: 12px;
    text-align: center;
  }
}
.about-section-wrapper > div > div:nth-child(1) {
  padding-right: 50px;
}
@media (max-width: 768px) {
  .about-section-wrapper > div > div:nth-child(1) {
    padding-right: 0px;
  }
}
.about-section-wrapper > div > div:nth-child(2) > img:nth-child(1) {
  width: 100%;
  position: relative;
  top: -150px;
}
@media (max-width: 1200px) {
  .about-section-wrapper > div > div:nth-child(2) > img:nth-child(1) {
    position: relative;
    top: 0px;
  }
}
@media (max-width: 920px) {
  .about-section-wrapper > div > div:nth-child(2) > img:nth-child(1) {
    position: relative;
    top: 0px;
  }
}
@media (max-width: 768px) {
  .about-section-wrapper > div > div:nth-child(2) > img:nth-child(1) {
    position: relative;
    top: 0px;
  }
}
.about-section-wrapper > div > div:nth-child(2) > img:nth-child(2) {
  width: 90%;
  position: relative;
  top: -350px;
  left: -60px;
}
@media (max-width: 1200px) {
  .about-section-wrapper > div > div:nth-child(2) > img:nth-child(2) {
    position: relative;
    top: -80px;
    left: -30px;
  }
}
@media (max-width: 920px) {
  .about-section-wrapper > div > div:nth-child(2) > img:nth-child(2) {
    width: 100%;
    position: relative;
    top: -100px;
    left: -30px;
  }
}
@media (max-width: 768px) {
  .about-section-wrapper > div > div:nth-child(2) > img:nth-child(2) {
    width: 100%;
    position: relative;
    top: -150px;
    left: -50px;
  }
}
/* numbers */
.about-section-wrapper > div > div > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.about-section-wrapper > div > div > div:nth-child(2) > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  border: 2px solid rgba(220, 196, 186, 0.2);
  padding: 20px;
  flex-basis: 195px;
  height: 232px;
}
@media (max-width: 1400px) {
  .about-section-wrapper > div > div > div:nth-child(2) > div {
    padding: 8px;
    height: 212px;
  }
}
@media (max-width: 768px) {
  .about-section-wrapper > div > div > div:nth-child(2) > div {
    align-items: center;
    margin-top: 5px;
    padding-top: 11px;
    flex-basis: 100%;
    height: 80px;
  }
}
.about-section-wrapper > div > div > div:nth-child(2) > div > div:nth-child(1) {
  color: #483836;
  font-family: 'Playfair Display', serif;
  font-size: 65px;
  width: 104px;
  height: 104px;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .about-section-wrapper > div > div > div:nth-child(2) > div > div:nth-child(1) {
    font-size: 52px;
  }
}
@media (max-width: 768px) {
  .about-section-wrapper > div > div > div:nth-child(2) > div > div:nth-child(1) {
    width: 52px;
    height: 52px;
    font-size: 25px;
    text-align: left;
    margin: unset;
    margin-right: 10px;
  }
}
.circle {
  background-color: #dcc4ba;
  height: 104px;
  width: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
@media (max-width: 1400px) {
  .circle {
    width: 94px;
    height: 94px;
  }
}
@media (max-width: 768px) {
  .circle {
    width: 52px;
    height: 52px;
  }
}
.circle span {
  position: relative;
  top: -12px;
}
@media (max-width: 768px) {
  .circle span {
    position: relative;
    top: -6px;
  }
}
.about-section-wrapper > div > div > div:nth-child(2) > div > div:nth-child(2) {
  color: #505054;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  text-align: center;
}
.container-fluid {
  padding: 0px;
  margin: 0px;
}
#c-hotel-name {
  margin-top: 227px;
  text-transform: uppercase;
  color: #dcc4ba;
}
@media (max-width: 768px) {
  #c-hotel-name {
    margin-top: 170px;
  }
}
.navbar {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(220, 196, 186, 0.2);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (max-width: 1020px) {
  .navbar {
    font-size: 9px;
  }
}
@media (max-width: 768px) {
  .navbar {
    font-size: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: none;
  }
}
@media (max-width: 768px) {
  #cxs-navupper-wrapper {
    border-bottom: 1px solid rgba(220, 196, 186, 0.2);
    padding-bottom: 10px;
    margin-bottom: 42px;
    min-width: 100%;
  }
}
@media (max-width: 768px) {
  .cxs-navupper-shadow {
    background-color: #2f545a;
    -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease-in-out 0s;
  }
}
@media (max-width: 768px) {
  .navbar-list {
    padding-bottom: 20px;
  }
}
.nav-item .nav-link {
  padding: 30px 0px 30px 0px;
  margin: 0px 18px 0px 18px;
  color: #dcc4ba;
}
@media (max-width: 1020px) {
  .nav-item .nav-link {
    margin-left: 13px;
    margin-right: 13px;
  }
}
@media (max-width: 920px) {
  .nav-item .nav-link {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (max-width: 768px) {
  .nav-item .nav-link {
    padding: 10px 0px 10px 0px;
  }
}
.nav-item .nav-link.active {
  font-weight: 800;
}
@media (min-width: 768px) {
  .nav-item .nav-link.active {
    border-bottom: 2px solid #dcc4ba;
  }
}
.navbar-nav,
.navbar,
.navbar-toggler {
  margin: 0;
  padding: 0;
}
#c-reserve {
  text-transform: uppercase;
}
.navbar-brand {
  padding: 5px;
}
#cxs-edge-caption,
#navbar-toggler {
  outline: none;
  text-transform: uppercase;
  color: #dcc4ba;
  display: flex;
  align-items: center;
  font-size: 10px;
  margin: 15px;
  padding: 4px;
}
#cxs-edge-caption span,
#navbar-toggler span {
  position: relative;
  top: 1px;
  margin-right: 10px;
  margin-left: 10px;
}
.c-navbar-right button {
  background-color: transparent;
  outline: none;
  border: 2px solid rgba(220, 196, 186, 0.2);
  border-radius: 4px;
  color: #dcc4ba;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 7px 12px 7px 12px;
  margin: 0px 5px 0px 5px;
}
@media (max-width: 768px) {
  .c-navbar-right button {
    margin-bottom: 30px;
  }
}
#c-motto {
  margin-top: 20px;
  font-family: 'Playfair Display', serif;
  color: white;
  text-align: center;
  font-size: 58px;
}
@media (max-width: 920px) {
  #c-motto {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  #c-motto {
    font-size: 36px;
  }
}
@media (max-width: 540px) {
  #c-motto {
    font-size: 30px;
  }
}
#c-advert {
  border: 3px solid rgba(220, 196, 186, 0.2);
  color: white;
  margin: 0 auto;
  margin: 20px 18% 0px 18%;
  padding: 10px 15px 25px 15px;
}
@media (max-width: 1600px) {
  #c-advert {
    margin: 20px 10% 0px 10%;
  }
}
@media (max-width: 1050px) {
  #c-advert {
    margin: 20px 50px 0px 50px;
  }
}
@media (max-width: 920px) {
  #c-advert {
    margin: 20px 50px 0px 50px;
  }
}
@media (max-width: 768px) {
  #c-advert {
    border: none;
    margin: 0px;
  }
}
#c-advert > div:not(.row) {
  padding: 0px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  #c-advert > div:not(.row) {
    font-size: 12px;
    padding: 30px 0px 0px 0px;
  }
}
#c-advert .row {
  margin-top: 10px;
  -webkit-box-shadow: 0px 8px 10px 0px rgba(29, 64, 69, 0.54);
  -moz-box-shadow: 0px 8px 10px 0px rgba(29, 64, 69, 0.54);
  box-shadow: 0px 8px 10px 0px rgba(29, 64, 69, 0.54);
}
#c-advert .row div {
  font-size: 14px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  background-color: white;
  padding: 30px;
}
@media (max-width: 1020px) {
  #c-advert .row div {
    font-size: 12px;
    padding: 25px;
  }
}
@media (max-width: 920px) {
  #c-advert .row div {
    font-size: 10px;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  #c-advert .row div {
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
#c-advert .row div:nth-child(1) {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
@media (max-width: 768px) {
  #c-advert .row div:nth-child(1) {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
  }
}
#c-advert .row div:nth-child(3) {
  background-color: #c49c97;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);
  color: white;
  letter-spacing: 1px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
@media (max-width: 768px) {
  #c-advert .row div:nth-child(3) {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
  }
}
